@import "form-default-input";

.form_textarea__label {
	@include form_el_label;
}

.form_textarea__element {
	@include form_el_default;

	resize: vertical;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 12.4rem;
}
