//---------------------------------------------fonts
$font_1: 'Montserrat', sans-serif;
$font_2: 'BebasNeue', sans-serif;
$fontSizeBase: 16px;
//---------------------------------------------fonts###
//---------------------------------------------layout
$pageWidth: 120rem;
//---------------------------------------------layout###
//---------------------------------------------colors
$white: #fff;
$black: #000000;
$blue: #003399;
$yellow: #FFCC00;

$gray: #9a9ea5;

$colorTextBase: $white;
$colorLinkBase: $white;
$bodyBg: $blue;
//---------------------------------------------colors###
//---------------------------------------------global values
$glRadius: 1rem;
//---------------------------------------------global values###
//---------------------------------------------media points
$desktopLg: 1920px;
$desktop: 1440px;
$laptop: 1200px;
$tabletPortrait: 991px;
$tablet: 768px;
$mobile: 480px;
$small: 375px;
//---------------------------------------------media points###
//---------------------------------------------form style
$input_height: 5.7rem;
$input_offset: 1rem;
$input_font_size: $fontSizeBase;
$input_text_color: $white;
$input_border_color: $white;
$input_radius: 0.2rem;
$input_border_color_active: $yellow;
$input_placeholder_color: $gray;
//---------------------------------------------form style###
