:root {
	--height-header: 10rem;
	--height-footer: 15rem;

	@include bp($tablet, min) {
		--gl-indent: 4rem;
	}

	@include bp($tabletPortrait - 1) {
		--gl-indent: 2rem;
	}
}

html {
	height: 100%;
	font-family: $font_1;
	line-height: 1.33;

	@include bp($desktop, min) {
		font-size: calc(100vw / 1440 * 10);
	}

	@include bp($desktop, $laptop) {
		font-size: calc(100vw / 1200 * 10);
	}
	
	@include bp($laptop, $small) {
		font-size: 10px;
	}	

	@include bp($small) {
		font-size: calc(100vw / 375 * 10);
	}

}

body {
	position: relative;
	display: block;

	height: 100%;
	margin: auto;
	color: $colorTextBase;
	background-color: $bodyBg;

	&.body--open_menu_state {
		overflow: hidden;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow: hidden;
}

.base {
	@include h4;

	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;

	flex: 1 0 auto;
}

.section {
	position: relative;

	@include bp($tablet, min) {
		padding: 6rem var(--gl-indent);
	}

	@include bp($tablet) {
		padding: 3rem var(--gl-indent);
	}
}

[class*="__container"] {
	width: 100%;
	max-width: $pageWidth;
	margin: 0 auto;
}

.title {
	@include h1;

	span {
		color: $yellow;
	}
}

p {
	@include h4;

}
